<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http create-session="stateless">
		<intercept-url pattern="/addComputer*" access="ROLE_ADMIN" />
		<intercept-url pattern="/*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<http-basic />
	</http>

	<beans:bean id="bCryptPasswordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	</beans:bean>

	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="bCryptPasswordEncoder" />
			<jdbc-user-service data-source-ref="aDataSource" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>